<a href="https://colab.research.google.com/github/iecgerman/python-numpy-pandas/blob/master/clase13reto.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [29]:
# Reto de Pandas para Manipulaci√≥n de Datos

import pandas as pd

path = '/content/olympics2024.csv'
df = pd.read_csv(path)
print(type(df))
print(df)

<class 'pandas.core.frame.DataFrame'>
    Rank        Country Country Code  Gold  Silver  Bronze  Total
0      1  United States           US    40      44      42    126
1      2          China          CHN    40      27      24     91
2      3          Japan          JPN    20      12      13     45
3      4      Australia          AUS    18      19      16     53
4      5         France          FRA    16      26      22     64
..   ...            ...          ...   ...     ...     ...    ...
86    84           Peru          PER     0       0       1      1
87    84          Qatar          QAT     0       0       1      1
88    84      Singapore          SIN     0       0       1      1
89    84       Slovakia          SVK     0       0       1      1
90    84         Zambia          ZAM     0       0       1      1

[91 rows x 7 columns]