<a href="https://colab.research.google.com/github/iecgerman/python-numpy-pandas/blob/master/pandas_clase14_ejercicio1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [28]:
import pandas as pd

path = '/content/online_retail.csv'
df = pd.read_csv(path)

columns_names = df.columns
print(columns_names)

# Index(['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'InvoiceDate',
#        'UnitPrice', 'CustomerID', 'Country'],
#       dtype='object')

Index(['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'InvoiceDate',
       'UnitPrice', 'CustomerID', 'Country'],
      dtype='object')

In [19]:
# imprimir solo InvoiceNo (Factura #)
only_InvoiceNo = df['InvoiceNo']
print(only_InvoiceNo)
print(only_InvoiceNo[345])

0         536365
1         536365
2         536365
3         536365
4         536365
           ...
541904    581587
541905    581587
541906    581587
541907    581587
541908    581587
Name: InvoiceNo, Length: 541909, dtype: object
536401

In [20]:
only_StockCode = df['StockCode']
print(only_StockCode)

0         85123A
1          71053
2         84406B
3         84029G
4         84029E
           ...
541904     22613
541905     22899
541906     23254
541907     23255
541908     22138
Name: StockCode, Length: 541909, dtype: object

In [22]:
only_Description = df['Description']
print(only_Description.head(18))

0      WHITE HANGING HEART T-LIGHT HOLDER
1                     WHITE METAL LANTERN
2          CREAM CUPID HEARTS COAT HANGER
3     KNITTED UNION FLAG HOT WATER BOTTLE
4          RED WOOLLY HOTTIE WHITE HEART.
5            SET 7 BABUSHKA NESTING BOXES
6       GLASS STAR FROSTED T-LIGHT HOLDER
7                  HAND WARMER UNION JACK
8               HAND WARMER RED POLKA DOT
9           ASSORTED COLOUR BIRD ORNAMENT
10             POPPY'S PLAYHOUSE BEDROOM
11              POPPY'S PLAYHOUSE KITCHEN
12      FELTCRAFT PRINCESS CHARLOTTE DOLL
13                IVORY KNITTED MUG COSY
14     BOX OF 6 ASSORTED COLOUR TEASPOONS
15          BOX OF VINTAGE JIGSAW BLOCKS
16         BOX OF VINTAGE ALPHABET BLOCKS
17               HOME BUILDING BLOCK WORD
Name: Description, dtype: object

In [23]:
# Imprimir solo las columnas con numeros

summary = df.describe()
print(summary)

            Quantity      UnitPrice     CustomerID
count  541909.000000  541909.000000  406829.000000
mean        9.552250       4.611114   15287.690570
std       218.081158      96.759853    1713.600303
min    -80995.000000  -11062.060000   12346.000000
25%         1.000000       1.250000   13953.000000
50%         3.000000       2.080000   15152.000000
75%        10.000000       4.130000   16791.000000
max     80995.000000   38970.000000   18287.000000

In [29]:
# Imprimir columna UnitPrice

precio_unitario = df['UnitPrice']
print(precio_unitario)

0         2.55
1         3.39
2         2.75
3         3.39
4         3.39
          ...
541904    0.85
541905    2.10
541906    4.15
541907    4.15
541908    4.95
Name: UnitPrice, Length: 541909, dtype: float64

In [34]:
# La media de UnitPrice
mean_UnitPrice = precio_unitario.mean()
print('La media es', mean_UnitPrice)

# La mediana de UnitPrice
median_UnitPrice = precio_unitario.median()
print('La mediana es', median_UnitPrice)

# Suma de toda la columna de UnitPrice

sum_UnitPrice = precio_unitario.sum()
print('La suma de todos los precios unitarios es', sum_UnitPrice)

# conteo de todo sin espacios vacios

count_UnitPrice = precio_unitario.count()
print(count_UnitPrice)

La media es 4.611113626088513
La mediana es 2.08
La suma de todos los precios unitarios es 2498803.974
541909