<a href="https://colab.research.google.com/github/iecgerman/python-numpy-pandas/blob/master/pandas_clase14.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
# Curso de Python para Ciencia de Datos

# Clase 14 - Estructuras de Datos en Pandas y Funciones

In [8]:
import pandas as pd

path = '/content/online_retail.csv'
retail_data = pd.read_csv(path)

# Nombre de columnas
columns_names = retail_data.columns
print(columns_names)

Index(['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'InvoiceDate',
       'UnitPrice', 'CustomerID', 'Country'],
      dtype='object')

In [9]:
# Contar cuantas filas y columnas tenemos
num_rows, num_columns = retail_data.shape
print('Numero de filas: ', num_rows)
print('Numero de columnas: ', num_columns)

Numero de filas:  541909
Numero de columnas:  8

In [11]:
# Saber la cantidad de ventas de una columna
daily_sales = retail_data['Quantity']
print(daily_sales)
print(daily_sales[2])

0          6
1          6
2          8
3          6
4          6
          ..
541904    12
541905     6
541906     4
541907     4
541908     3
Name: Quantity, Length: 541909, dtype: int64
8

In [12]:
# obtener la media, desviacion std, min, max,...

summary = retail_data.describe()
print(summary) # sólo nos imprime las columnas con números

            Quantity      UnitPrice     CustomerID
count  541909.000000  541909.000000  406829.000000
mean        9.552250       4.611114   15287.690570
std       218.081158      96.759853    1713.600303
min    -80995.000000  -11062.060000   12346.000000
25%         1.000000       1.250000   13953.000000
50%         3.000000       2.080000   15152.000000
75%        10.000000       4.130000   16791.000000
max     80995.000000   38970.000000   18287.000000

In [13]:
# Obtener la media

mean_value = daily_sales.mean()
print('La media es', mean_value)

La media es 9.55224954743324

In [14]:
# Obtener la mediana

median_value = daily_sales.median()
print('La mediana es', median_value)

La mediana es 3.0

In [17]:
# Obtener la suma de todos los datos de una columna (Quantity)

sum_value = daily_sales.sum()
print('La suma total de la cantidad de ventas es', sum_value)

La suma total de la cantidad de ventas es 5176450

In [18]:
# Conteo de la cantidad de todo sin incluir espacios vacios

count_values = daily_sales.count()
print(count_values)

541909

In [20]:
# Ejemplo de sum vs count

daily_sales2 = pd.Series([10, 20, None, 40, 50])

# Suma de Quantity
total_sum = daily_sales2.sum()
print('Suma de Quantity:', total_sum)

# Conteo de Quantity (sin espacios vacios)
count_values = daily_sales2.count()
print('Conteo de Quantity', count_values)

Suma de Quantity: 120.0
Conteo de Quantity 4

In [27]:
# Ejemplo de comentario

data = {
    'Nombre': ['Anna', 'Luis', 'Carlos', 'Maria'],
    'Edad': [28, 34, 29, 42],
    'Ciudad': ['Monterrey', 'Gdl', 'DF', 'Cancun']
}

#print(data)

df =  pd.DataFrame(data)
print('DataFrame:\n', df)

def categorizar_edad(edad):
  if edad < 30:
    return 'Joven'
  else:
    return 'Viejo'

df['Categoria'] = df['Edad'].apply(categorizar_edad)

print('\nDataFrame con categoria de edad:\n', df)

DataFrame:
    Nombre  Edad     Ciudad
0    Anna    28  Monterrey
1    Luis    34        Gdl
2  Carlos    29         DF
3   Maria    42     Cancun

DataFrame con categoria de edad:
    Nombre  Edad     Ciudad Categoria
0    Anna    28  Monterrey     Joven
1    Luis    34        Gdl     Viejo
2  Carlos    29         DF     Joven
3   Maria    42     Cancun     Viejo

In [29]:
# ver las primeras 8 filas
retail_data.head(8)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
5,536365,22752,SET 7 BABUSHKA NESTING BOXES,2,2010-12-01 08:26:00,7.65,17850.0,United Kingdom
6,536365,21730,GLASS STAR FROSTED T-LIGHT HOLDER,6,2010-12-01 08:26:00,4.25,17850.0,United Kingdom
7,536366,22633,HAND WARMER UNION JACK,6,2010-12-01 08:28:00,1.85,17850.0,United Kingdom